workflow/resume_translation.yml
app:
  description: "\u5C06\u4E2D\u6587\u7B80\u5386\u7ED3\u6784\u5316 JSON \u7FFB\u8BD1\u4E3A\u7B26\u5408\u65E5\u672C\u5546\u52A1\u6587\u4E66\u89C4\u8303\u7684\u65E5\u6587\u7B80\u5386 JSON\uFF0C\u4F9B\u540E\u7AEF /api/translate \u63A5\u53E3\u6D88\u8D39\u3002\u5355 LLM \u8282\u70B9\u6D41\u6C34\u7EBF\uFF1A\u7FFB\u8BD1 + \u672C\u5730\u5316\u5408\u5E76\u5904\u7406\u3002"
  icon: "\U0001F916"
  icon_background: '#FDE8E8'
  mode: workflow
  name: "\u65E5\u6587\u7B80\u5386\u7FFB\u8BD1\u4E0E\u672C\u5730\u53161"
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openrouter:0.0.35@89dd7d9ef460b2b687728168080132806c5e31ce7cf3c2f70c9e4a10a5750190
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods: []
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1740100000001-source-1740100000002-target
      selected: false
      source: '1740100000001'
      sourceHandle: source
      target: '1740100000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 1740100000002-source-17715808726430-target
      selected: false
      source: '1740100000002'
      sourceHandle: source
      target: '17715808726430'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: 17715808726430-source-1740100000004-target
      selected: false
      source: '17715808726430'
      sourceHandle: source
      target: '1740100000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1740100000004-source-1740100000005-target
      selected: false
      source: '1740100000004'
      sourceHandle: source
      target: '1740100000005'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: "\u63A5\u6536\u540E\u7AEF DifyClient.translate_resume() \u4F20\u5165\u7684 CnResumeData JSON \u5B57\u7B26\u4E32"
        selected: false
        title: "\u5F00\u59CB"
        type: start
        variables:
        - label: "\u4E2D\u6587\u7B80\u5386JSON"
          max_length: 20000
          options: []
          required: true
          type: paragraph
          variable: cn_resume_json
      height: 168
      id: '1740100000001'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: "\u4E2D\u6587\u7B80\u5386 JSON \u3092\u65E5\u672C\u8A9E\u306B\u7FFB\u8A33\u3057\u3001CnResumeData \u3092 JpResumeData \u306B\u5909\u63DB\u3059\u308B\uFF08\u7FFB\u8A33 + \u672C\u5730\u5316\u5408\u4F75\uFF09"
        model:
          completion_params:
            temperature: 0.15
            top_p: 1
          mode: chat
          name: openai/gpt-5-mini
          provider: langgenius/openrouter/openrouter
        prompt_template:
        - id: b2c3d4e5-0002-0001-0001-000000000001
          role: system
          text: "あなたは中国語から日本語への専門的な履歴書翻訳者です。ユーザーから提供される中国語の履歴書 JSON（CnResumeData 形式）を、日本語の履歴書 JSON（JpResumeData 形式）に翻訳・変換してください。\n\n\
            ## 核心原則\n\n\
            原文に書かれていない事実、数字、経験を追加してはいけません。翻訳は原文の内容のみに基づくこと。\n\
            「貢献」「成長」「チームワーク」などのマーケティング的表現を追加しないこと。原文にない概念は翻訳に含めない。\n\
            文の再構成は許可するが、内容の追加は禁止。日本のビジネス文書の文体に合わせて文構造を調整してよい。\n\
            数値は文脈から推論可能な場合のみ許可（例：日付範囲から算出した年数）。定量データの捏造は禁止。\n\n\
            ## 入力形式（CnResumeData）\n\n\
            入力は以下の構造を持つ JSON です：\n\
            - name, phone, email, date_of_birth, address, nationality, gender（個人情報）\n\
            - education[]: school, major, degree, start_date, end_date\n\
            - work_experience[]: company, position, department, start_date, end_date, description\n\
            - skills[]: name, level\n\
            - certifications[]: name, date\n\
            - languages[]\n\
            - self_introduction, career_objective\n\
            - project_experience[]: company, position, department, start_date, end_date, description\n\
            - awards[], other\n\n\
            ## 出力形式（JpResumeData）\n\n\
            出力は以下の構造に厳密に従った JSON オブジェクトです：\n\n\
            {\n\
            \  \"personal_info\": {\n\
            \    \"name\": \"氏名（漢字のまま。中国人名はそのまま漢字で可）\",\n\
            \    \"name_katakana\": \"カタカナ読み（中国語の人名のピンイン読みに基づきカタカナに変換。姓と名の間に全角スペース。例：張偉→チョウ イ、李明→リ メイ）\",\n\
            \    \"birth_date\": \"生年月日、YYYY-MM-DD 形式\",\n\
            \    \"gender\": \"性別（男性/女性）\",\n\
            \    \"nationality\": \"国籍（日本語表記）\",\n\
            \    \"address\": \"住所（日本語表記）\",\n\
            \    \"phone\": \"電話番号\",\n\
            \    \"email\": \"メールアドレス\"\n\
            \  },\n\
            \  \"summary\": \"職務要約\",\n\
            \  \"work_history\": [\n\
            \    {\n\
            \      \"company\": \"会社名（日本語表記）\",\n\
            \      \"title\": \"職種・役職名（日本語表記）\",\n\
            \      \"start_date\": \"YYYY-MM\",\n\
            \      \"end_date\": \"YYYY-MM または null（在職中）\",\n\
            \      \"location\": null,\n\
             \      \"responsibilities\": [\"業務内容を箇条書きに分解（description から）\"],\n\
             \      \"achievements\": [\"成果・実績があれば抽出\"],\n\
             \      \"projects\": [\n\
             \        {\n\
             \          \"name\": \"プロジェクト名\",\n\
             \          \"role\": \"役割\",\n\
             \          \"start_date\": \"YYYY-MM\",\n\
             \          \"end_date\": \"YYYY-MM または null\",\n\
             \          \"description\": \"プロジェクト概要\",\n\
             \          \"technologies\": [\"技術1\", \"技術2\"]\n\
             \        }\n\
             \      ]\n\
             \    }\n\
            \  ],\n\
            \  \"education\": [\n\
            \    {\n\
            \      \"school\": \"学校名（日本語表記）\",\n\
            \      \"degree\": \"学位\",\n\
            \      \"major\": \"専攻（日本語表記）\",\n\
            \      \"start_date\": \"YYYY-MM\",\n\
            \      \"end_date\": \"YYYY-MM\"\n\
            \    }\n\
            \  ],\n\
            \  \"skills\": [\n\
            \    {\n\
            \      \"category\": \"カテゴリ名（例：プログラミング言語、フレームワーク、ツール）\",\n\
            \      \"skills\": [\"スキル名のリスト\"]\n\
            \    }\n\
            \  ],\n\
            \  \"certifications\": [\n\
            \    {\n\
            \      \"name\": \"資格名（日本で認知される正式名称に変換。例：CET-4→CET-4（大学英語四級））\",\n\
            \      \"issuer\": \"発行機関\",\n\
            \      \"date\": \"YYYY-MM\",\n\
            \      \"score\": null\n\
            \    }\n\
            \  ],\n\
            \  \"motivation\": \"志望動機\",\n\
            \  \"strengths\": \"自己PR\",\n\
             \  \"other\": \"その他（awards, other, languages などを統合）\",\n\
             \  \"projects\": [\n\
             \    {\n\
             \      \"name\": \"個人プロジェクト名\",\n\
             \      \"role\": \"役割\",\n\
             \      \"start_date\": \"YYYY-MM\",\n\
             \      \"end_date\": \"YYYY-MM\",\n\
             \      \"description\": \"概要\",\n\
             \      \"technologies\": [\"技術\"]\n\
             \    }\n\
             \  ]\n\
             }\n\n\
            ## 翻訳・変換ルール\n\n\
            ### 文体\n\
            - です/ます体を全体で使用\n\
            - motivation セクションのみ軽い謙譲語を使用（「〜させていただきたい」等）。過度に堅い表現は避ける\n\n\
             ### 構造変換\n\
             - work_experience → work_history（description を responsibilities リストに分解）\n\
             - self_introduction → summary の翻訳元。self_introduction の内容を日本語に翻訳する。原文にない情報を追加しない\n\
            - career_objective → motivation の翻訳元。career_objective の内容を日本語に翻訳する。原文にない情報を追加しない\n\
            - self_introduction と skills → strengths の翻訳元。self_introduction と skills の内容に基づいて日本語に翻訳する。原文にない情報を追加しない\n\
             - awards + other（その他情報） + languages → other（統合して記述）\n\n\
             ### プロジェクト分類ルール\n\n\
             project_experience は以下のルールで分類・変換する：\n\n\
             1. **会社内プロジェクト**: project_experience[].company が work_experience[].company と一致する場合\n\
                - 該当する work_history エントリの projects[] 配列に埋め込む\n\
                - 変換: position → role, description → description\n\
                - 技術用語が記述されていれば technologies[] に抽出\n\n\
             2. **個人プロジェクト**: project_experience[].company が null または work_experience に一致する会社がない場合\n\
                - 親の projects[] 配列（JpResumeData レベル）に格納\n\
                - 変換: position → role, description → description\n\
                - 技術用語が記述されていれば technologies[] に抽出\n\n\
             3. **分類の原則**:\n\
                - company フィールドが存在しない、または空の場合は個人プロジェクトとみなす\n\
                - 会社名の一致判定は部分一致ではなく完全一致で行う\n\
                - 原文にない情報を追加しない（核心原則準拠）\n\n\
             ### 学歴マッピング\n\
            - 专科 / 大专 → 短期大学卒業\n\
            - 本科 → 学士\n\
            - 硕士 → 修士\n\
            - 博士 → 博士\n\
            - 上記以外はそのまま維持\n\n\
            ### スキル分類\n\
            - skills は技術カテゴリ別にグループ化する（プログラミング言語、フレームワーク、ツール等）\n\n\
            ### その他\n\
            - null の維持: 入力で null のフィールドは出力でも null とする\n\
            - 日付は YYYY-MM 形式を維持する（和暦変換はフロントエンドで行う）\n\
            - work_history と education は時間逆順（最新が先）\n\
            - responsibilities の各項目は日本の職務経歴書で一般的な表現にする（「〜を担当しました」「〜の設計・開発を行いました」等）\n\
            - 技術用語は日本のIT業界で通用する表記にする\n\n\
            JSON オブジェクトのみ出力。<think> タグや思考過程、markdown 記法は一切出力しない。\n"
        - id: b2c3d4e5-0002-0001-0001-000000000002
          role: user
          text: "以下の中国語履歴書 JSON を日本語に翻訳してください：\n\n\
            {{#1740100000001.cn_resume_json#}}"
        selected: true
        title: "LLM \u7FFB\u8A33\u30FB\u672C\u5730\u5316"
        type: llm
        variables: []
        vision:
          enabled: false
      height: 147
      id: '1740100000002'
      position:
        x: 368
        y: 282
      positionAbsolute:
        x: 368
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import re\n\ndef main(llm_text: str) -> dict:\n    text = re.sub(r'<think>[\\s\\S]*?</think>',\
          \ '', llm_text, flags=re.DOTALL)\n    return {\"result\": text.strip()}\n"
        code_language: python3
        desc: "LLM \u51FA\u529B\u304B\u3089 <think> \u30BF\u30B0\u3092\u9664\u53BB"
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: "CoT \u30B9\u30C8\u30EA\u30C3\u30D7"
        type: code
        variables:
        - value_selector:
          - '1740100000002'
          - text
          variable: llm_text
      height: 95
      id: '17715808726430'
      position:
        x: 655
        y: 282
      positionAbsolute:
        x: 655
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import json\nimport re\n\ndef main(llm_text: str) -> dict:\n    text\
          \ = llm_text.strip()\n\n    text = re.sub(r'^```(?:json)?\\s*\\n?', '', text)\n\
          \    text = re.sub(r'\\n?```\\s*$', '', text)\n    text = text.strip()\n\n\
          \    start = text.find('{')\n    if start == -1:\n        raise ValueError(\"\
          No JSON object found in LLM output\")\n\n    text = text[start:]\n\n    decoder\
          \ = json.JSONDecoder()\n\n    try:\n        parsed, _ = decoder.raw_decode(text)\n\
          \    except json.JSONDecodeError as e:\n        raise ValueError(\n      \
          \      f\"LLM returned invalid JSON: {e}\\n\"\n            f\"Content preview:\
          \ {text[:500]}\"\n        )\n\n    return {\"result\": json.dumps(parsed,\
          \ ensure_ascii=False)}\n"
        code_language: python3
        desc: "\u6E05\u6D17 LLM \u8F93\u51FA\uFF0C\u53BB\u9664 markdown \u4EE3\u7801\u5757\u6807\u8BB0\uFF0C\u5E76\u9A8C\u8BC1 JSON \u5408\u6CD5\u6027"
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: "\u6E05\u6D17 JSON \u8F93\u51FA"
        type: code
        variables:
        - value_selector:
          - '17715808726430'
          - result
          variable: llm_text
      height: 95
      id: '1740100000004'
      position:
        x: 942
        y: 282
      positionAbsolute:
        x: 942
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        desc: "\u8F93\u51FA\u672C\u5730\u5316\u540E\u7684\u65E5\u6587\u7B80\u5386 JSON\uFF0C\u53D8\u91CF\u540D jp_resume_json \u4F9B\u540E\u7AEF DifyClient \u8BFB\u53D6"
        outputs:
        - value_selector:
          - '1740100000004'
          - result
          variable: jp_resume_json
        selected: false
        title: "\u7ED3\u675F"
        type: end
      height: 147
      id: '1740100000005'
      position:
        x: 1229
        y: 282
      positionAbsolute:
        x: 1229
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 238.91883361773603
      y: 302.4399185578825
      zoom: 0.5278031643091579
  rag_pipeline_variables: []
